
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blog_taital">Blogumuz</h1>
                <p class="blog_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
            </div>
        </div>
        <div class="blog_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog_taital_1">Blogumuz</div>
                    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    <div class="readmore_bt"><a href="#">Devamını oku</a></div>
                </div>
                <div class="col-md-6">
                    <div class="blog_img"><img src="~/Content/images/blog-img.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
