@model List<WebApplication1.Models.dersler>
    @{
        ViewBag.Title = "Dersler";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }



    <!-- courses section start -->
    <div class="courses_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="courses_taital">Kursları Keşfedin</h1>
                    <p class="courses_text">do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="courses_section_2">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-1.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">CSS'ye Giriş</h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-2.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">Eksiksiz Web Geliştirme </h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-3.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">PHP İpuçları, Püf Noktaları ve Teknikleri</h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="courses_section_2">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-1.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">CSS'ye Giriş</h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-2.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">Eksiksiz Web Geliştirme </h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-3.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">PHP İpuçları, Püf Noktaları ve Teknikleri</h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="courses_section_2">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-1.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">CSS'ye Giriş</h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-2.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">Eksiksiz Web Geliştirme </h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="hover01 column">
                                        <figure><img src="~/Content/images/img-3.png"></figure>
                                    </div>
                                    <h3 class="introduction_text">PHP İpuçları, Püf Noktaları ve Teknikleri</h3>
                                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- courses section end -->
