
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital">Hakkımızda</div>
                <p class="about_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-o</p>
                <div class="read_bt"><a href="#">Devamını Oku</a></div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="~/Content/images/about-img.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- courses section start -->
<div class="courses_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="courses_taital">Kursları Keşfedin</h1>
                <p class="courses_text">do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="courses_section_2">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-1.png"></figure>
                                </div>
                                <h3 class="introduction_text">CSS'ye Giriş</h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-2.png"></figure>
                                </div>
                                <h3 class="introduction_text">Eksiksiz Web Geliştirme </h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-3.png"></figure>
                                </div>
                                <h3 class="introduction_text">PHP İpuçları, Püf Noktaları ve Teknikleri</h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="courses_section_2">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-1.png"></figure>
                                </div>
                                <h3 class="introduction_text">CSS'ye Giriş</h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-2.png"></figure>
                                </div>
                                <h3 class="introduction_text">Eksiksiz Web Geliştirme </h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-3.png"></figure>
                                </div>
                                <h3 class="introduction_text">PHP İpuçları, Püf Noktaları ve Teknikleri</h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="courses_section_2">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-1.png"></figure>
                                </div>
                                <h3 class="introduction_text">CSS'ye Giriş</h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-2.png"></figure>
                                </div>
                                <h3 class="introduction_text">Eksiksiz Web Geliştirme </h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="hover01 column">
                                    <figure><img src="~/Content/images/img-3.png"></figure>
                                </div>
                                <h3 class="introduction_text">PHP İpuçları, Püf Noktaları ve Teknikleri</h3>
                                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- courses section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blog_taital">Blogumuz</h1>
                <p class="blog_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
            </div>
        </div>
        <div class="blog_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog_taital_1">Blogumuz</div>
                    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    <div class="readmore_bt"><a href="#">Devamını Oku</a></div>
                </div>
                <div class="col-md-6">
                    <div class="blog_img"><img src="~/Content/images/blog-img.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Bize Ulaşın</h1>
                <p class="blog_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="contact_section_2">
            <div class="row">
                <div class="col-md-6 padding_left_0">
                    <div class="map_main">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mail_section_1">
                        <input type="text" class="mail_text" placeholder="Ad" name="Name">
                        <input type="text" class="mail_text" placeholder="Telefon" name="Phone Number">
                        <input type="text" class="mail_text" placeholder="Email" name="Email">
                        <textarea class="massage-bt" placeholder="Mesajınız" rows="5" id="comment" name="Massage"></textarea>
                        <div class="send_bt"><a href="#">GÖNDER</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->